.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

@media (min-width: 768px){
.pt-md-4, .py-md-4 {
    padding-top: 1.5rem!important;
}}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}


@media (min-width: 768px){
.mt-md-5, .my-md-5 {
    margin-top: 3rem!important;
}}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.card-profile-stats {
    padding: 1rem 0;
}

.card-profile-stats>div {
    margin-right: 1rem;
    padding: .875rem;
    text-align: center;
    color: #2f466c;
}

.card-profile-stats>div .heading {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}

.heading {
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: .025em;
    text-transform: uppercase;
        color: #2f466c;
}

.card-profile-stats>div .description {
    font-size: .875rem;
    color: #2f466c;
}

.description {
    font-size: .875rem;
}

.text-center {
    text-align: center!important;
}
.h3, h3 {
    font-size: 1.75rem;
}

.card-profile-image {
    position: relative;
}

.card-profile-image img {
    position: absolute;
    left: 50%;
       width: 60%;
   /* height: 215px;*/
    transition: all .15s ease;
    transform: translate(-50%, -15%);
    border-radius: .375rem;
}


.card-profile-image1 img {
    position: absolute;
    left: 50%;
    width: 50%;

    transition: all .15s ease;
    transform: translate(-50%, -15%);
    border-radius: .375rem;
}
.shadow, .card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.rounded-circle {
    border-radius: 50%!important;
}

@media (min-width: 768px){
.pb-md-4 {
    padding-bottom: 1.5rem !important;
}
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}

[class*='shadow'] {
    transition: all .15s ease;
}


.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.checked {
    color: #ffce00;
}
.profile-info ul li span {
    display: inline-block !important;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
}


.description1{
    color: #2f466c;
    font-size: 20px;
}

.text-center {
    text-align: center!important;
}

@media (min-width: 768px){
.pb-md-4, .py-md-4 {
    padding-bottom: 1.5rem!important;
}}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}


.thumbnail {
    display: block;
    padding: 0px !important;
    margin-bottom: -10px!important;
    line-height: 1.42857143;
   /* background-color: #ff5722 !important;
    border: 1px solid #ff5722 !important;*/
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.coleur{
    color: #dc1414;
}


.galerie{
        padding-right: 0px!important;
}

element.style {
}
.thumbnail > img, .thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 0px!important;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


  /****** partage media */

        /* CSS Document */


        .social-icons-ql li:hover {
            transform: scale(1.3);
            transition: .6s;
        }

        .fa-facebook-square {
            color: #4867AA;
        }

        .fa-twitter {
            color: #1DA1F2;
        }

        .fa-instagram {
            color: #e4405f;
        }

        .fa-linkedin {
            color: #0e76a8;
        }

        .fa-pinterest-square {
            color: #bd081c;
        }

        @media(max-width: 500px) {
            .social-icons {
                flex-direction: column;
            }

            .fab {
                padding: 15px;
            }
        }

        .social-icons-ql li {
            list-style: none;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 45px;
            background: #000;
            text-align: center;
            margin: 10px 5px;
        }

        .social-icons-ql li:nth-child(1) {

            background: #3b5999;
        }

        .social-icons-ql li:nth-child(1) i {
            font-size: 25px;

        }

        .social-icons-ql li:nth-child(2) {
            background: #55acee;
        }

        .social-icons-ql li:nth-child(3) {
            background: #007ab5;
        }

        .social-icons-ql li:nth-child(4) {
            background: #0dc144;
        }

        .social-icons-ql li:nth-child(5) {
            background: #CC2028;
        }

        .social-icons-ql li:nth-child(6) {
            background: #E05929;
        }

        .social-icons-ql li:nth-child(7) {
            background: #EB4924;
        }

        .blog-name {

            font-size: 16px;
            font-weight: 500;
            padding-bottom: 15px;
            text-transform: none;
            margin-top: 0px;
        }

        .social-icons-ql li i {
            color: #fff;
            font-size: 20px;
        }


       


        /* --------------------------*/

  

.product-single-w3l1 ul li {
    list-style: none;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.7;
    color: #2f466c;
}

button:focus {
    outline: none !important;
}




/* comment */
.reply-form {
    background: #fff;
    border:1px solid #eee;
    padding: 7px;
}


      .Bienvevuprofil12 {
    width: 100%;
    border-radius: 100%;
}

.textInput {
    border-radius: 0;
    height: 45px;
    margin: 0 !important;
}
.border-radius-0{
    border-radius:0;
}
.textInput:focus {
    box-shadow: none;
    outline: none
}
.commentBox ul li .profileBox {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   /* background-color: #002247;*/
    color: #fff;
    font-weight: 700;
}
.commentBox ul li:nth-child(even) .profileBox {
    background-color: #222;
}

.profileText {
    border-radius: 7px;
    padding: 6px;
    position: relative;
    background-color: #2f466c;
    display: inline-block;
    margin-left: 15px;
    width: 70%;
    color: white;
}
.profileText::before {
    content: '';
    position: absolute;
    left: -9px;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #2f466c;
    z-index: 1;
}
.commentBox ul li {
    display: flex;
    align-items: center;
}
.commentBox ul li:nth-child(even) .profileText::before {
    left: unset;
    right: -9px;
    transform: translateY(-50%) rotate(175deg);
}
.commentBox ul li:nth-child(even) .profileText {
    text-align: left;
}
div#div_id_username {
    margin-top: 5%;
}
.commentBox ul li:nth-child(even) .profileText {
    margin-left: 0;
    margin-right: 15px
}
.commentBox ul li:nth-child(even) {
    text-align: right;
    margin: 20px 0;
    justify-content: flex-end;


/* comment */


@media screen and (min-width: 768px){
.jumbotron {
    padding-top: 48px;
    padding-bottom: 0px!important;
}
}